---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---


<h2>Courses lectured or with participation</h2>


{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}


<h2>Mentored student projects/thesis </h2>

<style>
  dl {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #ccc; /* Add border */
    padding: 10px; /* Add padding for spacing */
  }
    dt {
      font-weight: bold;
    }
    dd {
      margin: 0;
      padding: 0 0 0.0 0;
    }
  
  </style>
  
  <dl>
    <dt>Mechanical modeling of dissimilar adhesive joints with residual thermal stresses</dt>
    <dd>Francisco Carneiro Cardoso Ribeiro</dd>
    <dd></dd>
    <dd><b>Type:</b> Bachelor Thesis</dd>
    <dd><b>Period:</b> Summer Semester 2023</dd>
  </dl>
  
  <dl>
    <dt>Mechanical modeling of dissimilar adhesive joints with residual thermal stresses</dt>
    <dd>Francisco Carneiro Cardoso Ribeiro</dd>
    <dd></dd>
    <dd><b>Type:</b> Bachelor Thesis</dd>
    <dd><b>Period:</b> Summer Semester 2023</dd>
  </dl>

